<html>
<head>
    <meta charset="utf-8" />
<img src = "../images/sign.jpg" style="position: absolute;
    margin: 0px;
    height: 100px;
    width: 100px;
    top: 0px;
    left: 0px;"></img>
    <!-- Include to ensure responsive pages are displayed correctly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap and custom CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/munchies.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Mootools -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>
    
    <!-- Fav & iOS icons location -->


  </head>

<body>
<div>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">




 <nav class="nav" style="text-align: center ;">

<!-- Nav -->

                <img class = "row" src = "../images/um.png" style="top: 10px; left: 30px; height:30px; position: relative;"></img> 

                <h4 style="">  
                    <a href="/info" style="text-align: center;"> Info </a> |       
                    <a href="/learn" style="text-align: center;"> UCSD </a> | 
                    <a href="/munchies" style="text-align: center;"> Team </a>
                </h4>

            </nav>

        </div>
    </nav>
</div>

          </div>
        </div>
    </nav>
<header>
    
    <!-- Main -->
        <div class='span12'>
        <nav>
  <ul>
            <img class = "inline-block" src = "../images/info1.jpg" style="position: absolute;
    margin: 0px;
    height: 210px;
    width: 125px;
    top: 100px;
    left: 0px;"></img>
  </ul>
</nav>
        <article style="position: absolute;
    margin: 0px;
    height: 280px;
    width: 200px;
    top: 100px;
    left: 125px;">
            <h4 style=" padding-left: 8px; font-family: Brush Script MT, cursive;">
             Welcome to the UCSD Munchies Website!</h4>
            <h5 style=" padding-left: 8px; font-family: Brush Script MT, cursive;"> UCSD Munchies was launched in the COGS: 102C Cognitive Design Studio as a prototype to help incentivize students to better our food consumption on campus. We have designed a punch card that will be usable in Perks Coffee Shop and Sunshine Market in Price Center. We are excited to announce that certain items that meet a threshold of sustainability will reward you with an 8th free purchase.</h5>
        </article>



            <img class = "row" src="../images/front.png" style="top: 300px; left: 10%" ></img>
        </div> 

</div>
</header>
</div>
</body>
</html>
