<html>
<head>
    <meta charset="utf-8" />
    
<img src = "../images/sign.jpg" style="position: absolute;
    margin: 0px;
    height: 100px;
    width: 100px;
    top: 0px;
    left: 0px;"></img>
    <!-- Include to ensure responsive pages are displayed correctly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap and custom CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/munchies.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Mootools -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>
    
    <!-- Fav & iOS icons location -->

<div>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">




 <nav class="nav" style="text-align: center ;">

<!-- Nav -->

                <img class = "row" src = "../images/um.png" style="top: 10px; left: 30px; height:30px; position: relative;"></img> 

                <h4 style="">  
                    <a href="/info" style="text-align: center;"> Info </a> |       
                    <a href="/learn" style="text-align: center;"> UCSD </a> | 
                    <a href="/munchies" style="text-align: center;"> Team </a>
                </h4>

            </nav>

        </div>
    </nav>
</div>
  </head>

<body>
<header>

    <!-- Main -->
        <div class='row' style="padding-left: 1.5%;" >
            <h3 style="text-align: center; font-family: Brush Script MT, cursive;"> 
|
<a href = "http://sustainability.ucsd.edu/focus/food.html#Eating-Healthy,-Organic,-Locall"> Sustainability UCSD</a>
|
<a href = "
http://universitycenters.ucsd.edu/aboutus_sustainability.php">
Tips and Resources 
</a>
|
<a href = "http://sustainability.ucsd.edu/focus/food.html#Eating-Healthy,-Organic,-Locall">
UCSD: Planting Sustainable Practices at University Centers
</a>
|
<a href = "http://adminrecords.ucsd.edu/ppm/docs/541-2.pdf">Research virtualization to reduce number of servers required to service students and staff</a>
|
<a href = "http://ucsdnews.ucsd.edu/pressrelease/uc_san_diego_is_sierra_magazines_7th_coolest_school_in_nation_for_sustainab">UCSD 2015-18 Fair Trade Policy</a>
|
            </h3>
            <img class = "inline-block" src = "../images/info1.jpg" width="300" style=""></img>


        </div> 

    <div class='row'>
        <div class='banner visible-desktop span8 bordered'>
        <!-- Banner -->
        </div>
        <div class='banner visible-tablet visibile-phone span12 bordered'>
        <!-- Banner -->
        </div>
        <div class='home_action span4 bordered'>
        <!-- Call To Action -->
        </div>     
    </div>
</header>


<!-- Footer -->
<footer>
    <div class='row'>
        <div class='contact_form span4 bordered'>
            <form>
                                
            </form>
        </div>
        <div class='contact_address span4 bordered'>
        </div>
        <div class='contact_social span4 bordered'>
            <h3></h3>
        </div>
        
    </div>
</footer>
</body>
</html>